In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly
import altair as alt
from sklearn.model_selection import train_test_split

df = pd.read_csv('./data.csv')
df_train, tv_set = train_test_split(df, test_size=.3, random_state=42)
df_test, df_val = train_test_split(tv_set, test_size = .5, random_state=42)
print(df.dtypes)

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [2]:
df_train.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
1695,4906-ZHGPK,Male,0,Yes,Yes,54,Yes,Yes,DSL,No,...,No,Yes,Yes,No,One year,Yes,Electronic check,70.70,3770,No
1095,7439-DKZTW,Male,0,No,No,1,Yes,No,Fiber optic,No,...,No,No,Yes,No,Month-to-month,Yes,Electronic check,80.55,80.55,No
3889,2592-HODOV,Male,0,No,No,13,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,One year,No,Credit card (automatic),19.30,259.65,No
3667,7826-VVKWT,Female,1,Yes,Yes,24,Yes,No,Fiber optic,No,...,Yes,No,Yes,Yes,Two year,Yes,Electronic check,96.55,2263.45,No
2902,1658-TJVOA,Female,1,No,No,6,Yes,No,Fiber optic,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,74.10,450.9,No

In [3]:
def ConvertToBool (df, cols):
    for col in cols:
        df[col] = (df[col] != 'No').astype(bool) 
    return df
def CalcBenefits (df, cols):
    for col in cols:
        df[col] = (df[col] == 'Yes').astype(int)
    return df[cols].sum(axis=1) 

df_train = ConvertToBool(df_train, ['Partner', 'Dependents', 'PhoneService', 'PaperlessBilling', 'Churn'])
df_train['AutoPayment'] = df_train['PaymentMethod'].str.contains('(automatic)', case = False)
df_train['Benefits'] = CalcBenefits(df_train.copy(), ['OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies'])

C:\Users\rasm6\AppData\Local\Temp\ipykernel_9796\3974181878.py:11: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df_train['AutoPayment'] = df_train['PaymentMethod'].str.contains('(automatic)', case = False)